.header {
  background-image: url("./../../public/Ljudio_logo_white.svg"),
    var(--ljudio-color);
  display: flex;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  align-items: center;
  position: relative;
  width: 100%;
  height: auto;
  overflow-x: hidden;
  padding: 60px 10px;
  margin: 0;
}
