@import "~antd/dist/antd.css";

:root {
  --ljudio-color: linear-gradient(#a12424, #ff5050);
  --footer-color: linear-gradient(#ff5050, #a12424);
  --primary-color: #a12424;
  --btn-color-hover: #a12424;
  --secondary-color: #626262;
  --third-color: #000;
  --text-color: #fff;
  overflow: hidden;
}

html,
body {
  margin: 0;
  font-family: "Lato", sans-serif;
  text-decoration: none;
  color: var(--text-color);
  background: var(--secondary-color);
  height: 100%;
}

label {
  display: block;
  margin-top: 10px;
}

.card-container.card {
  max-width: 350px !important;
  padding: 40px 40px;
}

.card {
  background-color: #f7f7f7;
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  margin-top: 50px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
}

.profile-img-card {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.app {
  background-color: var(--secondary-color);
  width: 450px;
  min-height: 200px;
  height: min-content;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  color: #ffffff;
}

button {
  width: 100%;
  font-size: 16px;
  color: #ffffff;
  background-color: #252d4a;
  border-radius: 15px;
  display: flex;
  padding: 5px;
  justify-content: flex-start;
  align-items: center;
  border: 5px solid #234668;
  cursor: pointer;
}

button:hover {
  background-color: #555e7d;
}

button:focus {
  outline: none;
}

button svg {
  margin-right: 5px;
}

.navbar {
  padding: 10px;
}

.view {
  margin-top: 5rem;
  min-height: 100vh;
}
