@import "~antd/dist/antd.css";

:root {
  --ljudio-color: linear-gradient(#a12424, #ff5050);
  --footer-color: linear-gradient(#ff5050, #a12424);
  --primary-color: #a12424;
  --btn-color-hover: #a12424;
  --secondary-color: #626262;
  --third-color: #000;
  --text-color: #fff;
  overflow: hidden;
}

html,
body {
  margin: 0;
  font-family: "Lato", sans-serif;
  text-decoration: none;
  color: var(--text-color);
  background: var(--secondary-color);
  height: 100%;
}

label {
  display: block;
  margin-top: 10px;
}


.app {
  background-color: var(--secondary-color);
  width: 450px;
  min-height: 200px;
  height: min-content;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  color: #ffffff;
}

button {
  width: 70%;
  font-size: 16px;
  color: #ffffff;
  background-color: var(--primary-color);
  border-radius: 30px;
  padding: 5px;
  justify-content: flex-start;
  align-items: center;
  border: 1px hidden black;
  cursor: pointer;
  height: 50px
}

button:hover {
  background-color: rgba(255, 0, 0, 0.3);
}

button:focus {
  outline: none;
}

button svg {
  margin-right: 0;
}

.navbar {
  padding: 10px;
}

.view {
  margin-top: 5rem;
  min-height: 100vh;
}
