@import "~antd/dist/antd.css";

:root {
  --ljudio-color: linear-gradient(#a12424, #ff5050);
  --footer-color: linear-gradient(#ff5050, #a12424);

  --primary-color: #a12424;
  --btn-color-hover: #a12424;
  --secondary-color: #626262;
  --third-color: #000;
  --text-color: #fff;
}

html {
  background: var(--secondary-color);
  min-width: 320px;
  height: 100%;
}

  overflow: hidden;
}

html,

body {
  margin: 0;
  font-family: "Lato", sans-serif;
  text-decoration: none;
  color: var(--text-color);
  background: var(--secondary-color);

  height: 100%;

}

label {
  display: block;
  margin-top: 10px;
}

.col-md-12 {
  display: flex;
}

.col-md-12-card {
  justify-content: center;
}

.card-container.card {
  padding: 50px 40px;
  text-align: center;
}


.column-login {
  padding: 50px 30px;
  font-size: 30px;

}

.column-login u {
  text-decoration: underline;
  text-underline-offset: 10px;
  text-decoration-color: var(--primary-color);
}


input {
  color: black;
}

.form-control {
  border-radius: 20px;
  border: none;
  height: 70px;
  width: 100%;
}
.form-control, input {
  font-size: 25px;
  padding-left: 10px;
}




.app {
  background-color: var(--secondary-color);
  width: 450px;
  min-height: 200px;
  height: min-content;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  color: #ffffff;
}

.btn {
  width: 70%;
  font-size: 16px;
  color: #ffffff;
  background-color: var(--primary-color);
  border-radius: 30px;
  padding: 5px;
  justify-content: flex-start;
  align-items: center;
  border: 1px hidden black;
  cursor: pointer;
  height: 50px;
}

button:hover {
  background-color: rgba(255, 0, 0, 0.3);
}

button:focus {
  outline: none;
}

a:hover {
  text-decoration:none;
  color: white;
  cursor:pointer;
}

a {
  color: white;
  text-decoration: none;
}

button svg {
  margin-right: 0px;
}

.navbar {
  padding: 10px;
}

.view {
  margin-top: 5rem;
  min-height: 100vh;
}
